UserAuthentication/UserAuthentication/Web References/Encrypt/Encrypt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EncryptCorpus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptCorpusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptCorpusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptCorpus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptCorpusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptCorpusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptWithPassphrase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passphrase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptWithPassphraseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptWithPassphraseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptWithPassphrase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passphrase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptWithPassphraseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptWithPassphraseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EncryptCorpusSoapIn">
    <wsdl:part name="parameters" element="tns:EncryptCorpus" />
  </wsdl:message>
  <wsdl:message name="EncryptCorpusSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptCorpusResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptCorpusSoapIn">
    <wsdl:part name="parameters" element="tns:DecryptCorpus" />
  </wsdl:message>
  <wsdl:message name="DecryptCorpusSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptCorpusResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptWithPassphraseSoapIn">
    <wsdl:part name="parameters" element="tns:EncryptWithPassphrase" />
  </wsdl:message>
  <wsdl:message name="EncryptWithPassphraseSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptWithPassphraseResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptWithPassphraseSoapIn">
    <wsdl:part name="parameters" element="tns:DecryptWithPassphrase" />
  </wsdl:message>
  <wsdl:message name="DecryptWithPassphraseSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptWithPassphraseResponse" />
  </wsdl:message>
  <wsdl:portType name="EncryptSoap">
    <wsdl:operation name="EncryptCorpus">
      <wsdl:input message="tns:EncryptCorpusSoapIn" />
      <wsdl:output message="tns:EncryptCorpusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptCorpus">
      <wsdl:input message="tns:DecryptCorpusSoapIn" />
      <wsdl:output message="tns:DecryptCorpusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptWithPassphrase">
      <wsdl:input message="tns:EncryptWithPassphraseSoapIn" />
      <wsdl:output message="tns:EncryptWithPassphraseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptWithPassphrase">
      <wsdl:input message="tns:DecryptWithPassphraseSoapIn" />
      <wsdl:output message="tns:DecryptWithPassphraseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EncryptSoap" type="tns:EncryptSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncryptCorpus">
      <soap:operation soapAction="http://tempuri.org/EncryptCorpus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptCorpus">
      <soap:operation soapAction="http://tempuri.org/DecryptCorpus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptWithPassphrase">
      <soap:operation soapAction="http://tempuri.org/EncryptWithPassphrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptWithPassphrase">
      <soap:operation soapAction="http://tempuri.org/DecryptWithPassphrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EncryptSoap12" type="tns:EncryptSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncryptCorpus">
      <soap12:operation soapAction="http://tempuri.org/EncryptCorpus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptCorpus">
      <soap12:operation soapAction="http://tempuri.org/DecryptCorpus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptWithPassphrase">
      <soap12:operation soapAction="http://tempuri.org/EncryptWithPassphrase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptWithPassphrase">
      <soap12:operation soapAction="http://tempuri.org/DecryptWithPassphrase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Encrypt">
    <wsdl:port name="EncryptSoap" binding="tns:EncryptSoap">
      <soap:address location="https://localhost:44310/Encrypt.asmx" />
    </wsdl:port>
    <wsdl:port name="EncryptSoap12" binding="tns:EncryptSoap12">
      <soap12:address location="https://localhost:44310/Encrypt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>